<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{ club['email'] }}</h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>Points available: {{ club['points'] }}</p>

    {% if club['points'] == '0' %}
        <p style="color: red;">You have no points available for booking.</p>
    {% endif %}

    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
            <li>
                {{ comp['name'] }}<br />
                Date: {{ comp['date'] }}<br />
                Number of Places: {{ comp['numberOfPlaces'] }}

                {% if comp['numberOfPlaces']|int > 0 %}
                    <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}">Book Places</a>
                {% else %}
                    <span style="color: red;">No places available for this competition.</span>
                {% endif %}
            </li>
            <hr />
        {% endfor %}
    </ul>

    {% if clubs %}
        <h3>Points des autres clubs :</h3>
        <ul>
            {% for other_club in clubs %}
                {% if other_club['name'] != club['name'] %}
                    <li>{{ other_club['name'] }}: {{ other_club['points'] }} points</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun club disponible pour afficher les points.</p>
    {% endif %}

    
    <p>
        You can also <a href="{{ url_for('publicClubPoints') }}">View Public Club Points</a>.
    </p>
</body>
</html>
